<div class="page-content">
	<div class="course-details-wrapper topic-1 uk-light">
		<div class="page-content-inner pt-lg-8 pb-0">
			{% for message in app.flashes('message') %}
				<div class="uk-alert-success text-center" uk-alert>
					<a class="uk-alert-close" uk-close></a>
					<p>{{ message }}</p>
				</div>
			{% endfor %}
			<div class="mb-lg-5" uk-grid="">
				<div class="uk-width-1-3@m">
					<div class="course-thumbnail">
						<img src="{{ vich_uploader_asset(formation, 'imageFile') }}" alt=""/>
					</div>
				</div>
				<div class="uk-width-2-3@m course-details pt-0">
					<h1>{{ formation.nomformation }}</h1>

					<p>{{ formation.motivation }}</p>

					<div class="uk-flex uk-flex-between uk-flex-bottom mt-lg-4">
						<div>
							<div class="course-details-info">
								<ul>
									<li>Course date:
										{{ formation.date|date("d/m/Y") }}</li>
								</ul>
							</div>
						</div>
						{% if app.user in courseUsers %}
							{{ form_start(UnSubForm) }}
							<button type="submit" class="btn btn-default btn-icon-label uk-first-column">
								<span class="btn-inner--icon">
									<i class="icon-material-outline-delete"></i>
								</span>
								<span class="btn-inner--text">Unregister</span>
							</button>
							{{ form_end(UnSubForm) }}
						{% else %}
							{{ form_start(SubForm) }}
							<button type="submit" class="btn btn-default btn-icon-label uk-first-column">
								<span class="btn-inner--icon">
									<i class="icon-material-outline-add"></i>
								</span>
								<span class="btn-inner--text">Add to my list</span>
							</button>
							{{ form_end(SubForm) }}
						{% endif %}
					</div>
				</div>
			</div>

			<nav class="responsive-tab style-5">
				<ul uk-switcher="connect: #course-intro-tab ;animation: uk-animation-slide-right-medium, uk-animation-slide-left-medium">
					<li>
						<a href="#">Description</a>
					</li>
					{% if app.user %}
						<li>
							<a href="#">Comments</a>
						</li>
					{% endif %}
				</ul>
			</nav>
		</div>
	</div>

	<div class="page-content-inner">
		<div class="uk-grid-large" uk-grid="">
			<div class="uk-width-2-3@m">
				<ul
					id="course-intro-tab" class="uk-switcher mt-4">
					<!-- Description -->
					<li class="course-description-content">
						<h4>Description</h4>
						<p>{{ formation.description|raw }}</p>

						<h4>What you’ll learn</h4>
						<div class="uk-child-width-1-2@s" uk-grid="">
							{% for wulearn in formation.whatuLearn %}
								<div>
									<ul class="list-2">
										<li>{{ wulearn }}</li>
									</ul>
								</div>
							{% endfor %}
						</div>

					</li>

					{% if app.user %}
						<!-- Comments-->
						<li>
							<div class="comments">
								<h4>Comments
									<span class="comments-amount">
										({{ nbrCommentaires }})
									</span>
								</h4>
								{% for commentaire in commentaires%}
									<ul>
										<li>
											<div class="comment-content">
												<div class="comment-by">{{ commentaire.user.nom }}
													{{ commentaire.user.prenom }}</div>
												<p>
													{{ commentaire.commentaire }}
												</p>
											</div>
										</li>
										<div class="uk-heading-divider"></div>
									</ul>
								{% endfor %}
							</div>

							{% do commentaires.setPageRange(2) %}
							{{ knp_pagination_render(commentaires, 'base/pagination.html.twig') }}

							{% if app.user in courseUsers %}
								<div class="comments">
									<h3>Submit Review</h3>
									<ul>
										<li>
											<div class="comment-content">
												{{ form_start(commentForm, {'attr': {'class': 'uk-grid-small', 'uk-grid': ''}}) }}
												<div class="uk-width-1-1@s">
													{{ form_label(commentForm.commentaire, 'Comment', {'label_attr': {'class': 'uk-form-label'}}) }}
													{{ form_widget(commentForm.commentaire, {'attr': {'class': 'uk-textarea', 'placeholder': 'Enter your comment here...', 'style': 'height: 160px'}}) }}
												</div>
												<div class="uk-grid-margin">
													<button type="submit" class="btn btn-outline-primary uk-first-column">Submit</button>
												</div>
												{{ form_end(commentForm) }}
											</div>
										</li>
									</ul>
								</div>
							{% endif %}
						</li>
					{% endif %}
				</ul>
			</div>
		</div>
	</div>
</div>
