{# @var ea \EasyCorp\Bundle\EasyAdminBundle\Context\AdminContext #}
{% extends '@EasyAdmin/page/content.html.twig' %}


{% block main %}
	<div class="container-fluid">
		<div class="d-sm-flex align-items-center justify-content-between mb-4">
			<h2>Dashboard</h2>
		</div>
		<div class="row d-flex justify-content-center my-2">

			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-primary shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
									Total Users</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">{{ allUsers }}</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-users fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-success shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
									Total Courses</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">{{ allCourses }}</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-graduation-cap fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-xl-3 col-md-6 mb-4">
				<div class="card border-left-success shadow h-100 py-2">
					<div class="card-body">
						<div class="row no-gutters align-items-center">
							<div class="col mr-2">
								<div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
									Total Comments</div>
								<div class="h5 mb-0 font-weight-bold text-gray-800">{{ allComments }}</div>
							</div>
							<div class="col-auto">
								<i class="fas fa-comments fa-2x text-gray-300"></i>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<div class="d-sm-flex align-items-center justify-content-between mb-4 my-5">
			<h2>Last three courses</h2>
		</div>

		<div class="row d-flex justify-content-center">
			{% for formation in lastCourses %}
				<div class="col-xl-3 col-md-6 mb-4">
					<div class="card" style="width: 18rem;">
						<img class="card-img-top" src="{{ vich_uploader_asset(formation, 'imageFile') }}" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title">{{formation.nomFormation}}</h5>
							<p class="card-text">{{formation.description|u.truncate(100,'...',false)|striptags}}</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
