<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset("assets/css/style.css") }}">
            <link rel="stylesheet" href="{{ asset("assets/css/night-mode.css") }}">
            <link rel="stylesheet" href="{{ asset("assets/css/framework.css") }}">
            <link rel="stylesheet" href="{{ asset("assets/css/bootstrap.css") }}">
            <link rel="stylesheet" href="{{ asset("assets/css/icons.css") }}">
        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset("assets/js/framework.js") }}"></script>
            <script src="{{ asset("assets/js/jquery-3.3.1.min.js") }}"></script>
            <script src="{{ asset("assets/js/simplebar.js") }}"></script>
            <script src="{{ asset("assets/js/mmenu.min.js") }}"></script>
            <script src="{{ asset("assets/js/night.js") }}"></script>
            <script src="{{ asset("assets/js/main.js") }}"></script>
        {% endblock %}
    </head>
    <body>
        {% include 'base/nav.html.twig' %}
        {% block body %}{% endblock %}
        {% include "base/footer.html.twig" %}
    </body>
</html>
